 h1.dashboard, h2.dashboard, h3.dashboard, ul.dashboard, li.dashboard, p.dashboard, table.dashboard {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header.dashboard {
    background-color: #060131;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Teste */
.header.dashboard.protanopia {
    background-color: #f50303;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar.dashboard {
    background-color: #053b68;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: absolute;
}

/* TESTE */
.sidebar.dashboard.protanopia{
    background-color: #f50303;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: absolute;
}

.sidebar.dashboard ul {
    list-style: none;
    padding-left: 0;
}

.sidebar.dashboard li {
    margin-bottom: 1rem;
}

.sidebar.dashboard a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.sidebar.dashboard a:hover {
    background-color: #646f77;
}

.sidebar.dashboard .active {
    background-color: #646f77;
}

.main-content.dashboard {
    margin-left: 270px;
    padding: 2rem;
}

.overview.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.overview-card.dashboard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.product-list.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.product.dashboard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.customer-list.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.customer.dashboard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.price {
    font-weight: bold;
}

.image {
    max-width: 100px;
    height: auto;
}

/* 
 * DaltonismoProtaniopia 
 */

/* 
 * Daltonismo-Tritanopia 
 */
 
/* 
 * Daltonismo-Deuteranopia 
 */