h1.dashboard, h2.dashboard, h3.dashboard, ul.dashboard, li.dashboard, p.dashboard, table.dashboard {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header.dashboard {
    background-color: #060131;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar.dashboard {
    background-color: #053b68;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: absolute;
}

.sidebar.dashboard ul {
    list-style: none;
    padding-left: 0;
}

.sidebar.dashboard li {
    margin-bottom: 1rem;
}

.sidebar.dashboard a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.sidebar.dashboard a:hover {
    background-color: #646f77;
}

.sidebar.dashboard .active {
    background-color: #646f77;
}

.main-content.dashboard {
    margin-left: 270px;
    padding: 2rem;
}

.overview.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.overview-card.dashboard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.product-list.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.product.dashboard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.customer-list.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.customer.dashboard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.price {
    font-weight: bold;
}

.image {
    max-width: 100px;
    height: auto;
}

/* 
 * DaltonismoProtanopia 
 */

.header.dashboard.protanopia {
    background-color: #e60fc2;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar.dashboard.protanopia{
    background-color: #460342;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: absolute;
}

.sidebar.dashboard.protanopia a:hover {
    background-color: #54405a;
}

.sidebar.dashboard.protanopia .active {
    background-color: #53305c;
}

/* 
 * Daltonismo-Tritanopia 
 */

.header.dashboard.tritanopia {
    background-color: #77e60f;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar.dashboard.tritanopia{
    background-color: #035e08;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: absolute;
}

.sidebar.dashboard.tritanopia a:hover {
    background-color: #7480c5;
}

.sidebar.dashboard.tritanopia .active {
    background-color: #30375c;
}
 
/* 
 * Daltonismo-Deuteranopia 
 */

.header.dashboard.deuteranopia {
    background-color: #e61d0f;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar.dashboard.deuteranopia{
    background-color: #5e1803;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: absolute;
}

.sidebar.dashboard.deuteranopia a:hover {
    background-color: #59c48e;
}

.sidebar.dashboard.deuteranopia .active {
    background-color: #50292c;
}

/* 
 * Idade Valida 
 */
.image.false {
    max-width: 150px;
    height: auto;
}


/* 
 * miopia_baixa 
 */

.dashboard.miopia_baixa p {
    font-size: 18px;
}

/* 
 * miopia_moderada 
 */

.dashboard.miopia_moderada p {
    font-size: 20px;
}

/* 
 * miopia_alta 
 */

 .dashboard.miopia_alta p {
    font-size: 22px;
}