* {
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.login h1 {
  margin-bottom: 20px;
  color: #333333;
}

.input-login {
  text-align: left;
  margin-bottom: 20px;
}

.input-login label {
  display: block;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

.input-login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.button-login button[type="submit"] {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-login button[type="submit"]:hover {
  background-color: #218838;
}

.cadastro-button-login {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.cadastro-button-login:hover {
  background-color: #0056b3;
}

/* 
 * Daltonismo-Protanopia 
 */

.button-login.protanopia button[type="submit"] {
  background-color: #f9e033;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-login.protanopia button[type="submit"]:hover {
  background-color: #f5db30;
}

.cadastro-button-login.protanopia {
  background-color: #3b569c;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.cadastro-button-login.protanopia:hover {
  background-color: #3f59cc;
}

/* 
 * Daltonismo-Tritanopia 
 */

.button-login.tritanopia button[type="submit"] {
  background-color: #7bc9ed;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-login.tritanopia button[type="submit"]:hover {
  background-color: #89cceb;
}

.cadastro-button-login.tritanopia {
  background-color: #03638f;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.cadastro-button-login.tritanopia:hover {
  background-color: #0373a7;
}

/* 
 * Daltonismo-Deuteranopia 
 */

.button-login.deuteranopia button[type="submit"] {
  background-color: #d2bf47;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-login.deuteranopia button[type="submit"]:hover {
  background-color: #c4b240;
}

.cadastro-button-login.deuteranopia {
  background-color: #3a5a9e;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.cadastro-button-login.deuteranopia:hover {
  background-color: #3f64a0;
}

/* 
 * miopia_baixa 
 */

.login-miopia_baixa * {
  font-size: 14px;
}

/* 
* miopia_moderada 
*/

.login-miopia_moderada * {
  font-size: 16px;
}

/* 
* miopia_alta 
*/

.login-miopia_alta * {
  font-size: 18px;
}

