* {
  font-family: Arial, Helvetica, sans-serif;
}

.register {
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.register h1 {
  margin-bottom: 20px;
  color: #333333;
}

.input-register {
  text-align: left;
  margin-bottom: 20px;
}

.input-register label {
  display: block;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

.input-register input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.button-register button[type="submit"] {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register button[type="submit"]:hover {
  background-color: #218838;
}

.voltar-register {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register:hover {
  background-color: #0056b3;
}

/* 
 * Daltonismo-Protanopia 
 */

.button-register.protanopia button[type="submit"] {
  background-color: #72972d;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register.protanopia button[type="submit"]:hover {
  background-color: #648528;
}

.voltar-register.protanopia {
  background-color: #4764e7;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register.protanopia:hover {
  background-color: #3f59cc;
}

/* 
 * Daltonismo-Tritanopia 
 */

.button-register.tritanopia button[type="submit"] {
  background-color: #5c9fa1;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register.tritanopia button[type="submit"]:hover {
  background-color: #4e888a;
}

.voltar-register.tritanopia {
  background-color: #2a8550;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register.tritanopia:hover {
  background-color: #257546;
}

/* 
 * Daltonismo-Deuteranopia 
 */

.button-register.deuteranopia button[type="submit"] {
  background-color: #72972d;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register.deuteranopia button[type="submit"]:hover {
  background-color: #648528;
}

.voltar-register.deuteranopia {
  background-color: #005cbe;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register.deuteranopia:hover {
  background-color: #0154ad;
}

/* 
 * miopia_baixa 
 */

.register-miopia_baixa * {
  font-size: 14px;
}

/* 
* miopia_moderada 
*/

.register-miopia_moderada * {
  font-size: 16px;
}

/* 
* miopia_alta 
*/

.register-miopia_alta * {
  font-size: 18px;
}
