* {
  font-family: Arial, Helvetica, sans-serif;
}

.register {
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.register h1 {
  margin-bottom: 20px;
  color: #333333;
}

.input-register {
  text-align: left;
  margin-bottom: 20px;
}

.input-register label {
  display: block;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

.input-register input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.button-register button[type="submit"] {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register button[type="submit"]:hover {
  background-color: #218838;
}

.voltar-register {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register:hover {
  background-color: #0056b3;
}

/* 
 * Daltonismo-Protanopia 
 */

.button-register.protanopia button[type="submit"] {
  background-color: #f9e033;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register.protanopia button[type="submit"]:hover {
  background-color: #f5db30;
}

.voltar-register.protanopia {
  background-color: #3b569c;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register.protanopia:hover {
  background-color: #3f59cc;
}

/* 
 * Daltonismo-Tritanopia 
 */

.button-register.tritanopia button[type="submit"] {
  background-color: #7bc9ed;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register.tritanopia button[type="submit"]:hover {
  background-color: #89cceb;
}

.voltar-register.tritanopia {
  background-color: #03638f;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register.tritanopia:hover {
  background-color: #0373a7;
}

/* 
 * Daltonismo-Deuteranopia 
 */

.button-register.deuteranopia button[type="submit"] {
  background-color: #d2bf47;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-register.deuteranopia button[type="submit"]:hover {
  background-color: #c4b240;
}

.voltar-register.deuteranopia {
  background-color: #3a5a9e;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.voltar-register.deuteranopia:hover {
  background-color: #3f64a0;
}

/* 
 * miopia_baixa 
 */

 .register-miopia_baixa *:not(h1) {
  font-size: 16px !important;
}

/* 
* miopia_moderada 
*/

.register-miopia_moderada *:not(h1) {
  font-size: 18px !important;
}

/* 
* miopia_alta 
*/

.register-miopia_alta *:not(h1) {
  font-size: 20px !important;
}

/* 
 * idade_10_30 
 */

 .register-idade_10_30 *:not(h1) {
  font-size: 16px;
}

/* 
* idade_30_60 
*/

.register-idade_30_60 *:not(h1) {
  font-size: 18px;
}

/* 
* idade_60_80 
*/

.register-idade_60_80 *:not(h1) {
  font-size: 20px;
}