/* Reset de estilos */
body, h1, h2, h3, ul, li, p, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Background mais claro */
}

.header {
    background-color: #4e3ceb; /* Cor laranja vívida */
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar {
    background-color: #2196f3; /* Cor azul brilhante */
    color: white;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #64b5f6; /* Cor azul claro ao passar o mouse */
}

.sidebar .active {
    background-color: #64b5f6; /* Cor azul claro para o item ativo */
}

.main-content {
    margin-left: 270px; /* Ajuste para acomodar a largura da barra lateral */
    padding: 2rem;
}

.overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.overview-card {
    background-color: #ffffff; /* Fundo branco */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.sales-chart {
    background-color: #ffffff; /* Fundo branco */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.sales-table table {
    width: 100%;
    border-collapse: collapse;
}

.sales-table th, .sales-table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sales-table th {
    background-color: #f9f9f9; /* Cor mais clara para cabeçalhos de tabela */
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.product {
    background-color: #ffffff; /* Fundo branco */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.customer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.customer {
    background-color: #ffffff; /* Fundo branco */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.price {
    font-weight: bold;
    color: #e91e63; /* Cor rosa vívida */
}