/* Estilização para os filtros */
.todos-filtros {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* flex-direction: row; */
}

.toggle-buttons {
  display: flex;
  align-items: center;
}

/* @media (max-width: 1790px) {
  .filtro-container {
    width: 15px;
    text-align: left;
  }
} */

@media (max-width: 1000px) {
  .todos-filtros {
    flex-direction: column; /* Alinha os filtros verticalmente */
    text-align: center; /* Centraliza o texto dos rótulos e selects */
  }

  .toggle-buttons {
    flex-direction: row;
  }

  /* .divisao-filtro {
    width: 50px;
  } */

  .filtro-container {
    width: 135px;
    text-align: left;
  }

  .toggle-filtros-btn {
    margin-top: 5px;
  }
}

.divisao-filtro {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  gap: 10px; /* Espaço entre os filtros */
  /* width: 850px; */
}

.conteudo-principal {
  border-top: 1px solid #ccc;
}

.filtro-container {
  flex-grow: 1;
  /* width: 417px; */
}

/* Estilização para o seletor */
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  outline: none;
}

/* Estilização para o botão de ocultar/mostrar filtros */
.toggle-filtros-btn {
  background-color: #3f4041;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 16px; /* Ajuste o padding vertical para corresponder à altura dos selects */
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  margin-right: 3px;
}

/* Estilização para o botão flutuante */
.mostrar-filtro-btn {
  background-color: #3f4041;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: absolute;
}

.mostrar-filtro-btn {
  top: 2.8%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 1;
}

.toggle-filtros-btn:hover,
.mostrar-filtro-btn:hover {
  background-color: #0056b3;
}