/* Estilização para os filtros */
.todos-filtros {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.conteudo-principal {
  border-top: 1px solid #ccc;
}

.filtro-container {
  flex-grow: 1;
}

/* Estilização para o seletor */
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  outline: none;
}

/* Estilização para o botão de ocultar/mostrar filtros */
.toggle-filtros-btn {
  background-color: #3f4041;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 16px; /* Ajuste o padding vertical para corresponder à altura dos selects */
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Estilização para o botão flutuante */
.mostrar-filtro-btn {
  background-color: #3f4041;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: absolute;
}

.mostrar-filtro-btn {
  top: 2.8%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 1;
}

.toggle-filtros-btn:hover,
.mostrar-filtro-btn:hover {
  background-color: #0056b3;
}